.day2.grid{
    padding-top: 10rem;
    padding-bottom: 3rem;
}
.profile__avatar img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 0.5rem solid var(--primary-color);
    transition:  1s;
    margin-top: 2rem;

}

.profile.col{
    overflow: hidden;
    border-radius: 4rem;
    background-color: #272d40;
    height: 48rem;
}

.profile__job{
    color: var(--primary-color);
    font-size: 2rem;
    margin-top: 1rem;
}

.profile__name{
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 1.5rem 0;
    font-weight: Bold ;
}

.profile__contact{
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 1.5rem 0;
    padding: 0.8rem;
    border-radius: 1rem;
    font-weight: normal;
    border: 0.3rem solid var(--primary-color)
}


.profile__social > a  {
    font-size: 2.8rem;
    padding: 1rem;
    color: var(--color-white)
}

.profile__contact{
    background-color: #272d40;
}

.profile__contact:hover {
    background-color: var(--primary-color);
}

.profile__avatar:hover {
    width: 100%;
    height: 100%;
}


.profile__avatar:hover img{
    width: 100%;
    border-radius: 0%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
    border-radius: 2.8rem;
    background-clip: content;
}