.day7 {
  .col {
    min-height: 75vh;
    .todo {
      text-align: center;
      margin: 0 auto;
      background-color: #fff;
      padding-top: 5rem;
      padding-bottom: 3rem;
      .todo__title {
        color: var(--primary-color);
        border: none;
      }
    }

    .todo__add {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 12;
      .todo-add__input {
        height: 3rem;
        flex-grow: 1;
      }

      .todo-add__button {
        text-align: center;
        color: #fff;
        background-color: rgb(122, 36, 128);
        height: 3rem;
        min-width: 3rem;
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }

    .todo__lists {
      padding: 1rem 0;
      flex: 12;

      .todo__list {
        line-height: 3rem;
        text-align: left;
        display: flex;
        justify-content: space-around;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        > i {
          width: 100%;
          height: 100%;
          text-align: center;
          margin-left: 1rem;
          vertical-align: middle;
        }
        .job-in-list {
          flex: 10;
          overflow-wrap: break-word;
          text-align: justify;
          display: inline;
          height: 100%;
          line-height: 3rem;
        }
        > input {
          max-width: 3rem;
          min-width: 3rem;

          height: 3rem;
          background-color: #ccc;
          align-items: left;
          margin-right: 0.8rem;
          flex: 1;
        }
        .btn-del-job {
          min-width: 3rem;
          max-width: 3rem;
          height: 3rem;
          background-color: rgb(167, 157, 161);
          color: rgb(12, 11, 11);
          outline: none;
          text-align: center;
          margin-left: 1rem;
          font-weight: 600;
          flex: 1;
          &:hover {
            width: 3rem;
            height: 3rem;
            background-color: red;
            color: #fff;
            outline: none;
          }
        }
      }

      .todo__clearAll {
        display: flex;
        justify-content: space-between;
        > button {
          width: 10rem;
          height: 3rem;
          outline: none;
          &:hover {
            background-color: var(--primary-color);
            color: #fff;
          }
          > p {
            height: 3rem;
            text-align: center;
            color: var(--primary-color);
            font-weight: 700;
          }
        }
      }
    }
  }
}
