

.day3{
    padding-top: 10rem;
    text-align: center;
    height: 100vh;
}
.dialog__btnOpen{
    padding: 2rem 4rem;
    font-size: 20px;
    cursor: pointer;
    border: 0.3rem solid var(--primary-color);
    border-radius: 2rem;
    transition: 1s;
    position: relative;
    top: 20%;
}

.dialog__btn:hover{
    opacity: 0.9;
}

.dialog--hide{
    display: none;
    top: 25%;
}

.dialog--show{
    position: absolute;
    display: block;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
    border-radius: 1rem;
    background-color: var(--color-white);
    border: 0.3rem var(--primary-color);
    min-width: 40rem;
    overflow: hidden;
    margin-top: -5rem;
}

.dialog__header{
    display: flex;
    justify-content:space-between;
    padding: 1rem;
    font-size:2rem;
    color: var(--color-white);
    background-color: var(--primary-color);
    font-style: bold;
}


.dialog__header > i {
    height: 100%;
    padding: 1rem;
    cursor: pointer;
}

.dialog__body {
    padding: 1rem;
    text-align: initial;
}
.dialog__footer {
    padding: 1rem;
    float: right;
}

.dialog__footer > button {
    padding: 0.8rem 1.6rem;
    color: var(--color-white);
    font-size: 1.7rem;
    border-radius: 1.2rem;
    background-color: var(--primary-color);
    cursor: pointer;
}

.dialog__body >h2{
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.break{
    padding: 10rem 0;
}


.search-box{
    background-color: #ccc;
    display:inline-block;
    border-radius: 0.5rem;
}   


.search-box__input{
    padding: 1rem;
    width: 4rem;
    position: absolute;
    border-radius: 1.3rem;
    transform: translateX(-50%);
    top:60%;

}

.search-box__button{
    z-index: 1;
    width: 4rem;
    align-items: center;
    padding: 1rem;
    position: absolute;
    transform: translateX(-50%);
    border-radius: 1.3rem;
    top:60%;
}
.search-box__button:hover{
    background-color: #ccc
}

.search-box__input--active{
    min-width: 20rem;
    transform: translateX(-66.66%);
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border: 1px solid transparent;
}

.search-box__button--active{
    transform: translateX(166.66%);
    /* right: 0; */
    color: var(--primary-color);
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border: 1px solid transparent;
}
