.day8.grid{
  min-height:100vh;
}

.day8.grid .col{
  margin-top: 0 ;
}
.music-player.player{
  padding-top: 4rem;
  max-width: 100%;
  margin: auto;
  background-color: #fff
}

.player__control.btn{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}
.player__title{
  font-weight: 500;
  color: var(--primary-color)
}
.player__image{
  background-color: #ccc;
  width: 25rem;
  height: 25rem;
  margin: 1rem auto;
  border-radius:100%;
  overflow: hidden;
}

.player__image__url{
  background-image: center center;
  height: 100%;
  width: 100%;
}

.player__seekbar > input{
  width: 80%;
}
.player__seekbar{
  padding:1rem;
}

.songs{
  width: 100%;
  height: 100%;
  height: 100vh;
  border-top: 0.4rem solid var(--primary-color);
  background-color: #ccc;
  overflow-y: scroll;
}

.song{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0;
  background-clip: content-box;
  background-color: #fff;

}

.song__image{
  width: 8rem;
  height: 8rem;
  border-radius:50%;
  overflow: hidden;
  padding: 1rem;
}

.song__image__url{
  height: 100%;
  width: 100%;
}
.song__infor{
  align-self: center;
  flex-grow: 1;
  text-align: left;
  padding-left: 1rem;
}

.song__action{
  align-self: center;
}

.btn-toggle-play{
  position: relative;
}
.icon-play{
  position: absolute;
}


.player__control > div{
  background-color: #ccc;
  width:4rem;
  height: 4rem;
  border-radius: 50%;
  color:#000000;
}
.player__control i{
  display: block;
  width:4rem;
  height: 4rem;
  vertical-align: middle!important;

}
.player__control i::before{
  font-style: italic;
  line-height:  4rem;
}
.player__control{
  height: 4rem;
  line-height:4rem;
}

.player__control > div > .icon-pause{
  display: none;
  position: absolute;
  left: 0;
}
.player__control > div > .icon-play{
  position: absolute;
  left: 0;
  
}
.player__control> div:active{
  background-color: var(--primary-color)!important;
  color:#fff
}

.active {
  color: var(--primary-color)!important;
}
