.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(59, 57, 57);
    display: flex;
    justify-content: space-around;
}

.footer__child{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #fff;
    font-size: 2rem;
}

.footer__image img{
    border-radius: 50%;
    border: 0.3rem solid var(--primary-color)
}

.footer__contact2 , .footer__contact1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__contact2 p, .footer__contact1 p{
}
@media (max-width: 740px) {
    .footer__child.footer__contact2{
        display: none!important;
    }
}