.forgot-password-page {
  background-color: #d9d5da;
  min-height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  overflow: hidden;
  color: #303133;
  transition: 0.3s;
  .forgot-password {
    margin: 0 auto;
    background-color: #fff;

    border-radius: 1rem;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    > * {
      margin: 2rem 3rem 0;
    }

    .forgot-password__title {
      .title {
        border: none !important;
        white-space: nowrap;
      }
    }
    .forgot-password__input-button {
      .input__button-send {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
        color: #fff !important;
        background-color: #027da7;
        height: 4rem;
        border-radius: 0.5rem;
        &:hover {
          background-color: #91bccb;
        }
      }
      .active {
        animation: action 3s linear;
      }
    }
    .forgot-password__input-place {
      display: flex;
      .input__email {
        width: 100%;
        border-radius: 0.5rem;
        height: 3rem;
        outline: none;
        border: 1px solid #ccc;
        text-indent: 1rem;

        &:focus {
          border: 0.2rem solid var(--primary-color);
        }
      }
    }
  }
}

@keyframes action {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: #fff;
  }
}
