.nav {
    background-color: #ccc;
    width: 100%;
}

.nav__item{
    display: inline;
    padding: 0.5rem;    
}

.nav__item>a{
    text-decoration: none;
    text-transform: uppercase;
}

.header.grid{
    background-color: #ccc; 
    line-height: 4rem;
}

.nav__item{
    margin-left: 2rem;
    font-size: 1.8rem;
    padding: 2rem;
}

.nav__item:first-child {
    margin-left: 8rem;
}