.header.grid {
    line-height: 1.3rem;
    background-color: rgb(59, 57, 57);
    position: fixed;
    z-index: 1;
    .nav {
        width: 100%;
        .nav__item {
            display: inline;
            margin-left: 2rem;
            padding: 1.5rem;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 2.8rem;
                color: #ccc;
            }
            .nav__item:first-child {
                margin-left: 8rem;
            }
        }
        .nav__item--menu {
            display: none;
            position: relative;
        }

        .sub-nav {
            display: none;
            position: absolute;
            top: 4.5rem;
            left: 0;
            padding: 1rem;
            background-color: rgb(59, 57, 57);
            width: 100%;
            border-top: 1px solid #ccc;
            .sub-nav__item {
                display: block !important;
                margin-left: 2rem;
                padding: 1rem;
            }

            .sub-nav__item > a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 2.8rem;
                color: #ccc;
            }

            .sub-nav--active {
                display: block !important;
            }
        }

        @media (min-width: 1024px) {
            .sub-nav {
                display: none !important;
            }
        }

        @media (min-width: 740px) and (max-width: 1023px) {
            .sub-nav {
                display: none !important;
            }
        }
        @media (max-width: 740px) {
            .nav__item:first-child {
                margin-left: 0;
                display: block;
                width: 100%;
                position: relative;
            }

            .nav__item:nth-child(2),
            .nav__item:nth-child(3) {
                display: none;
            }

            .nav__item--menu {
                display: block !important;
                right: 0;
                position: absolute;
                i {
                    color: #ccc;
                    display: block;
                    font-size: 2rem;
                }
            }
        }
    }
}
