.galary__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
  transition: 0.8s;
}
.galary__image:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
}
.day4 .row {
  position: relative;
}
.day4.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.control {
  height: 70vh;
  font-size: 4.5rem;
  color: #ccc;
  position: absolute;
  overflow: hidden;
  margin-left: 12px;
  width: 100%;
  height: 100%;
  display: none;
}

.control__close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding-right: 1rem;
}
.control__close:hover , .control__prev:hover, .control__next:hover{
  color: var(--primary-color);
  opacity: 1
}
.control__prev {
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 1;
}
.control__next {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  z-index: 1;
}

.control__image {
  width: 100%;
  height: 100%;
  background-color: rgba(96, 87, 87, 0.3);
}

.control__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 1024px) {
    .control.wide {
        margin: auto;
      }
      .row{
        margin: auto 1rem;
    }
}
/* >= Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .control.wide {
    margin: auto;
  }
  .row{
    margin: auto 1rem;
}
}

/* Tablet - PC low resolution width: 644px; */
@media (max-width: 740px) {
  .control.wide {
    display: none !important;
    padding: 0 1rem; 
    margin: auto;
}

  .row{
    margin: auto 2rem;
}
}



