.search-box {
    background-color: #ccc;
    display: inline-block;
    border-radius: 0.5rem;

    .search-box__input {
        padding: 1rem;
        width: 4rem;
        position: absolute;
        border-radius: 1.3rem;
        transform: translateX(-50%);
        top: 60%;
    }
    .search-box__input--active {
        min-width: 20rem;
        transform: translateX(-66.66%);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid transparent;
    }
    .search-box__button {
        z-index: 1;
        width: 4rem;
        align-items: center;
        padding: 1rem;
        position: absolute;
        transform: translateX(-50%);
        border-radius: 1.3rem;
        top: 60%;
        &:hover {
            background-color: #ccc;
        }
    }
    .search-box__button--active {
        transform: translateX(166.66%);
        color: var(--primary-color);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 1px solid transparent;
    }
}

//
// .dialog__btn:hover {
//     opacity: 0.9;
// }

// .dialog__body > .break {
//     padding: 10rem 0;
// }
