.day6.grid{
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.timer.col {
  height: 21rem;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  background-color: #272d40;
  color: #fff;
  border-radius: 3rem;
}

.outline{
  width: 100%;
  height: 100%;  
  border-radius: 4rem;
  overflow: hidden;
}
.timer.col:hover{
  color: #fff;
  background-color: rgb(189, 139, 139);
}
.timer.col:hover .timer__title{
  color: #fff;
}
.timer__title{
  color: #ccc;
}